@{
    ViewBag.Title = "EWM - Admin Home";
}

<h2>Welcome Back, Admin</h2>

<div class="row row-cols-3 my-5 justify-content-center text-center">
    <div class=" col card text-black me-lg-3" style="max-width: 250px;">
        <a href='@Url.Action("ManageHomeSlider", "MstHomeSlider")'>
            <img src="~/Content/Img/Admin_ManageHome.png" class="card-img" alt="Manage Home Page Icon">
        </a>
        <div class="card-body">
            <h5 class="card-title">Manage Home Slider</h5>
        </div>
    </div>

    <div class=" col card text-black ms-lg-5" style="max-width: 250px;">
        <a href='@Url.Action("ManagePromotion", "MstPromotion")'>
            <img src="~/Content/Img/Admin_ManagePromotion.jpg" class="card-img" alt="Manage Promotion Icon">
        </a>
        <div class="card-body">
            <h5 class="card-title">Manage Promotion</h5>
        </div>
    </div>

    <div class=" col card text-black ms-lg-5" style="max-width: 250px;">
        <a href='@Url.Action("ManagePromotion", "MstPromotion")'>
            <img src="~/Content/Img/Admin_ManageCategory.png" class="card-img" alt="Manage Categories Icon">
        </a>
        <div class="card-body">
            <h5 class="card-title">Manage Categories</h5>
        </div>
    </div>
</div>