<!-- Modal -->
@using (Html.BeginForm("ChangePassword", "MstCustomer", FormMethod.Post, new { @id = "ChangePasswordForm" }))
{
    <div class="modal fade" id="changePasswordPopup" tabindex="-1" aria-labelledby="changePasswordPopupLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="changePasswordPopupLabel">Reset Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <label for="password" class="form-label">Password</label>
                    <div class="input-group mb-3">
                        <input type="password" id="password" name="password" class="form-control" aria-label="password" required>
                        <button class="btn btn-outline-dark" type="button" id="btnShowPassword"><i id="iconShowPassword" class="bi bi-eye-fill"></i></button>
                    </div>
                    <span id="passwordValidation" class="text-danger"></span>
                    <br /><br />
                    <label for="confirmPassword" class="form-label">Confirm Password</label>
                    <div class="input-group mb-3">
                        <input type="password" id="confirmPassword" class="form-control" aria-label="confirm password" required>
                        <button class="btn btn-outline-dark" type="button" id="btnShowConfirmPassword"><i id="iconShowConfirmPassword" class="bi bi-eye-fill"></i></button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="changePasswordBtn" type="button" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
}