<!-- Modal -->
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    <div class="modal fade" id="resetPasswordPopup" tabindex="-1" aria-labelledby="resetPasswordPopupLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="resetPasswordPopupLabel">Reset Password</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    @* Email *@
                    <label for="resetEmail" class="form-label">Email</label>
                    <input type="email" class="form-control mb-3" name="resetEmail" placeholder="name@mail.com" required />


                    @* Select User Role *@
                    <div class="mb-3">
                        <label for="UserType" class="form-label">User Type</label>
                        <div class="">
                            <select class="form-select mb-3" name="resetUserType" aria-label="Select User Type">
                                <option value="Customer" selected>Customer</option>
                                <option value="Merchant">Merchant</option>
                                <option value="Admin">Admin</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Back</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
}