@{
    ViewBag.Title = "Login";
}

@{ Html.RenderPartial("ForgotPassword"); }

<h1>Welcome Back</h1>
<div class="container pt-1 text-center" >
    <p class="text-danger">@ViewBag.Error</p>
    <p class="text-primary">@ViewBag.Message</p>
</div>

<div class="container ">
    <div class="row justify-content-center">
        <div class="col-lg-6 pt-3">
            <form action="SignIn" method="post">

                @* Username *@
                <div class="row mb-3">
                    <label for="Username" class="col-lg-4 col-form-label">Username</label>
                    <div class="col-lg-8">
                        <input type="text" class="form-control" id="Username" name="username" placeholder="Username" required>
                    </div>
                </div>

                @* Password *@
                <div class="row mb-3">
                    <label for="Password" class="col-lg-4 col-form-label">Password</label>
                    <div class="col-lg-8">
                        <input type="password" class="form-control" id="Password" name="password" placeholder="Password" required>
                        <div id="passwordHelp" class="form-text text-end">
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#resetPasswordPopup">Forgot Password?</button>
                        </div>
                    </div>
                </div>
             
                @* Select User Role *@
                <div class="row mb-3">
                    <label for="UserType" class="col-lg-4 col-form-label">User Type</label>
                    <div class="col-lg-8">
                        <select class="form-select mb-3" name="userType" aria-label="Select User Type">
                            <option value="Customer" selected>Customer</option>
                            <option value="Merchant">Merchant</option>
                            <option value="Admin">Admin</option>
                        </select>
                    </div>
                </div>


                @* Login Button *@
                <div class="row mb-3 mt-5 justify-content-center">
                    <button class="btn btn-primary col-lg-6" type="submit">Login</button>
                </div>

                @* Clear Form Button *@
                <div class="row mb-3 justify-content-center">
                    <button class="btn btn-danger col-lg-6" type="reset">Clear</button>
                </div>
            </form>

            <p class="text-center">Not a member yet? <a href='@Url.Action("SignUp", "Account")'>Sign up today!</a></p>
        </div>
    </div>
</div>
